<div class="background-modal-image animated fadeIn"
    [class.hide]="imageModalService.hideModal"
>

    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="display: block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel1">Upload image</h4>
                    <button type="button" 
                        class="close" 
                        data-dismiss="modal" 
                        (click)="closeModal()"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="text-center">

                        <img *ngIf="!imgTemp" [src]="imageModalService.img" class="img-avatar">
                        <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar">
    
                    </div>
                    <input type="file" name="" id="" (change)="changeImage($event)">
                    <br>
                    <br>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" 
                        (click)="closeModal()"
                        data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary" (click)="uploadPicture()">Update image</button>
                </div>
            </div>
        </div>
    </div>

</div>