/* You can add global styles to this file, and also import other style files */
#themecolors .selector, .cursor{
  cursor: pointer;
}
#google-btn{
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.img-avatar{
  height: 200px;
  width: 200px;

}

.w100{
  width: 100px;
}

.w140{
  width: 140px;
}

.avatar{
  border-radius: 100%;
  width: 50px;

}

.background-modal-image{
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;  
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99999;
}

.hide{
  display: none;
}